<div class="container">
    <div class="col-xs-12">
        <h2> Mantenimiento de Proveedores </h2>
        <form>

            <button class="btn btn-danger" type="button"> Ver Contratos </button>

            <hr>
            <div class="row">
                <label for="proveedores"> Proveedor </label>
                <div class="col-xs-3-form-group">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
                  <span class="caret"></span></button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                            <li role="presentation" class="divider"></li>
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    <label for="nombrePro">Nombre</label>
                    <input type="text" id="nombrePro" class="form-control" #nombreProInput>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-3">
                    <label for="telPro">Telefono</label>
                    <input type="tel" id="tel" class="form-control" #telProInput>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-6">
                    <label for="dirPro">Direccion</label>
                    <input type="text" id="dirPro" class="form-control" #dirProInput>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-xs-3-form-group">
                    <button class="btn btn-success" type="submit"> Actualizar </button>
                    <button class="btn btn-warning" type="submit"> Crear </button>
                </div>
            </div>

        </form>

    </div>
</div>